/* default colors for right now are lucario colors */
/* 9 colors? */
:root {
  --primary-one: #2d3142;
  --secondary-one: #4a9cef;
  --secondary-two: #e6e69c;
  --accent-one: #c0c0c0;
  --accent-two: #de4242;
}