$myFont: Monospace;
$gunmetal: #2D3142;
$french-gray: #ADACB5;
$platinum: #D8D5DB;
$uranian-blue: #B0D7FF;

// lucario colors
$lucario-grey: #2D3142;
$lucario-blue: #4A9CEF;
$lucario-yellow: #E6E69C;
$lucario-silver: #C0C0C0;
$lucario-red: #de4242;


$ten-pixels : 10px;

body{
    background-color: $lucario-grey
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    font-family: $myFont;
    font-size: calc($ten-pixels + 2vmin);;
    margin: 0;
}

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// start making this into a simplified pokedex
.pokemon-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: $lucario-blue;
    margin: 30px;
    border-radius: $ten-pixels;
    // outline: 1px solid red;
    // position: absolute;
    // width:20px;
    // height: 20px;
    // box-shadow: 0px 0px 0 darkred;
}

.pokemon-stat-container{
    margin: $ten-pixels;
}

.pokemon-stat{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $lucario-red;
}

.sprite{
    // border-color: $lucario-yellow;
    // border-style: solid;
    margin: $ten-pixels;
    border-radius: $ten-pixels;
}

.pokemon-name {
    font-weight: bold;
    font-size: 25px;
    color: $lucario-yellow;
    margin: $ten-pixels;
}

